* {

}

#titulo {
    color: red;
    font-size: 40px;
    background: black;
}

#paragrafo {
    color: blue;
    font-size: 20px;
}

#botao {
    background-color: green;
    border-color: darkgreen;
}

#outro-botao {
    color: purple;
    font-size: 30px;
}

h1 {
        color: red;
        background: black;
    }

    p {
        color: blue;
        font-size: 20px;
    }

    button {
        background-color: green;
        border-color: darkgreen;
    }