.pai {
    width: 100px;
    height: 100px;
    background: blue;
    color: #fff;
    font-size: 32px;
}

.filho {
    width: 50%;
    height: 50%;
    background: red;
    color: #fff;
    font-size: 0.5em;
}

/* UNIDADES DE MEDIDAS 

-> ABSOLUTAS
    px (Pixels)
    in (Inches)
    cm (Centimetros)
    mm (Milimetros)

-> RELATIVAS
    % (Relativas ao elemento pai)
    vw (Viewport Width - Largura da tela)
    vh (Viewport Height - Altura da tela)
    em (Relativas ao tamanho da fonte do elemento pai)
    rem (Relativas ao tamanho da fonte do elemento raiz - html)
\*     