@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    color: blue;
    font-size: 64px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-shadow: 10px 10px 10px red;
}

p {
    color: green;
    font-size: 32px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    line-height: 50px;
    letter-spacing: 10px;
    word-break: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline; 
}