* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #98909c;
    cursor: pointer;
    margin-right: 23px;
    text-transform: uppercase;
    text-decoration: none;
}

.button-header {
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
}

.logo-image {
    width: 568px;
    height: 500px;
}

