h1 {
        color: red;
        background: black;
    }

    p {
        color: blue;
        font-size: 20px;
    }

    button {
        background-color: green;
        border-color: darkgreen;
    }